@import url('./main.css');
@import url('./login.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.body {
    background: #EFEFBB;
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB); 
    background: linear-gradient(to right, #D4D3DD, #EFEFBB);
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
}